---
import { Markdown } from 'astro/components';
---

<article>
	<div class="banner">
		<p><strong>Lancement bientôt 🚀</p>
	</div>

	<section>
		<Markdown>
			## Le DPE en bref

			Le [gouvernement](https://www.service-public.fr/particuliers/vosdroits/F16096) nous informe sur le DPE :

			> Le diagnostic de performance énergétique (DPE) est un document qui sert principalement à estimer la consommation d'énergie et les taux d'émission de gaz à effet de serre d'un logement (ou bâtiment).
			Il doit être intégré au dossier de diagnostic technique (DDT) et être remis au futur acquéreur ou locataire du logement.
			Des sanctions sont prévues notamment si le DPE n'est pas conforme à la réglementation.

			### Attention
			Depuis le 1er janvier 2023, si votre logement est considéré comme « passoire énergétique », alors il pourrait ne plus être autorisé à la location !
		</Markdown>
	</section>

	<section>
		<Markdown>
			## Intéressé(e) par Almacrity ?
			Envoyez-nous un message sur info@almacrity.com.
		</Markdown>
		<!-- TODO: insert form
			Laissez-nous votre adresse e-mail pour en savoir plus !
			<form method="POST">
				<label>
					E-mail :
					<input type="email" name="email" required />
				</label>
				<button>Envoyer</button>
			</form>
		-->
	</section>
</article>

<style>
	article {
		padding-top: 2em;
		line-height: 1.5;
	}
	section {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		max-width: 70ch;
	}

	.banner {
		text-align: center;
		font-size: 1.2rem;
		background: var(--color-light);
		padding: 1em 1.5em;
		padding-left: 0.75em;
		border-radius: 4px;
	}

	pre,
	code {
		font-family: var(--font-mono);
		background: var(--color-light);
		border-radius: 4px;
	}

	pre {
		padding: 1em 1.5em;
	}

	.tree {
		line-height: 1.2;
	}

	code:not(.tree) {
		padding: 0.125em;
		margin: 0 -0.125em;
	}
</style>
